# vim: ft:gitconfig
[include]
    path = ~/.gituserinfo

[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    autocrlf = input
    # https://github.com/dandavison/delta
    pager = delta
    # https://github.blog/2022-06-27-highlights-from-git-2-37/#a-builtin-filesystem-monitor-for-windows-and-macos
    fsmonitor = true

    #pager = "diff-so-fancy | less --tabs=4 -RFX"
[color]
    # ui = auto will always use color unless you are piping the output to
    # another command, in which case no color is used
    ui = auto

[pull]
    # Good explanation on why to use --ff-only:
    # https://blog.sffc.xyz/post/185195398930/why-you-should-use-git-pull-ff-only-git-is-a
    ff = only

[push]
    # https://twitter.com/JI/status/1546948817462800384
    # Don't require `--set-upsttram origin` when pushing branches
    autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    navigate = true    # use n and N to move between diff sections

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[includeIf "gitdir:~/workspaces/"]
    path = ~/.gitconfig_work
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
